---
http_interactions:
- request:
    method: post
    uri: https://api.templarbit.com/v1/csp
    body:
      encoding: UTF-8
      string: '{"property_id":"<PROPERTY_ID>","token":"<API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 10 Aug 2017 04:13:33 GMT
recorded_with: VCR 3.0.3
