---
http_interactions:
- request:
    method: post
    uri: https://api.templarbit.com/v1/csp
    body:
      encoding: UTF-8
      string: '{"property_id":"<PROPERTY_ID>","token":"<API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf4ae18431d2400fd58f0d71630922b1"
    body:
      encoding: UTF-8
      string: '{"csp":null,"csp_report_only":"default-src ''self''; script-src ''self'';
        object-src ''self''; base-uri ''none''; report-uri https://logs.templarbit.com/csp/<PROPERTY_ID>/reports;"}'
  recorded_at: Thu, 10 Aug 2017 04:38:16 GMT
recorded_with: VCR 3.0.3
